<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../static/assets/bg.png');
    background-size: cover;
    background-position: center;
  }
  .logo-container {
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    margin: auto;
  }

</style>
</head>
<body>

<div class="logo-container">
  <img src="../static/assets/autonomous_logo.png" alt="Logo">
</div>
<div>{{server_time}}</div>
</body>
</html>